
<body>

<form id="formulario" name="formulario" method="post" action="/login/usuario">

	bola de volei: <input type="text" />
	</br> 
	</br>
	bola de futebol: <input type="text" />
	</br>
	</br>
	bola de handebol: <input type="text" />
	</br>
	<button type="submit">Enviar Pedido</button>

</form>
